<header class="topBarDiv">
    
    <div class="topBarTitle">
        <LinkTo @route="dashboard.buyer" class="topbar-nav-link" {{on "click" (fn this.setView "buyer")}}>Zhoppy</LinkTo>
    </div>

    <nav class="topBarNavbar">
        <LinkTo @route="dashboard.buyer" class="topbar-nav-link" @activeClass="selected" {{on "click" (fn this.setView "buyer")}}>Home</LinkTo>

        {{#if this.isSeller}}
        <LinkTo @route="dashboard.seller" class="topbar-nav-link" @activeClass="selected" {{on "click" (fn this.setView "seller")}}>Seller</LinkTo>
        {{/if}}

        {{#if this.isAdmin}}
        <LinkTo @route="dashboard.admin" class="topbar-nav-link" @activeClass="selected" {{on "click" (fn this.setView "admin")}}>Admin</LinkTo>
        {{/if}}
    </nav>
    
    <div class="topBarAccounts">
        {{this.userInitial}}
    </div>
    <button {{on "click" this.logOut }} >Log out</button>
</header>
