{{!-- <div class="details-container">
  <img class="details-image" src={{this.model.product-details.image}} alt="Product image" />

  <div class="details-info">
    <h2 class="details-name">{{this.model.name}}</h2>
    <p class="details-brand">Brand: {{this.model.product-details.brand}}</p>
    <p class="details-category">Category: {{this.model.product-details.category}}</p>
    <p class="details-color">Color: {{this.model.product-details.color}}</p>
    <p class="details-description">{{this.model.product-details.detials}}</p>
    
    <div class="details-pricing">
      ₹{{this.model.inventory-data.price}}
      {{#if this.model.inventory-data.discount}}
        <span class="details-discount">({{this.model.inventory-data.discount}}% OFF)</span>
      {{/if}}
    </div>

    <p class="details-stock">Stock: {{this.model.inventory-data.count}}</p>

    <button class="add-to-cart-btn" {{on "click" this.addToCart}}>Add to Cart</button>
  </div>
</div> --}}

<ProductDetails @product={{this.model}} @isSeller={{false}} />


